@import "./variables.scss";

@mixin clearfix {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin gradient-text {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
