
@import "../share/variables.scss";


.group {
    margin-bottom: 2rem;
    position: relative;
}

.input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid $color-grey-dark;
    width: 100%;
    display: block;

    &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
    }

    &:invalid  {
        border-bottom-color: $color-error;
    }

    &::-webkit-input-placeholder {
        color: $color-grey-dark-2;
    }
}

.error .input  {
    border-bottom-color: $color-error;
}

.success .input  {
    border-bottom-color: $color-success;
}

.label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
}

.helper {
    font-size: $small-font-size;
    padding-left: 1.4rem;
    color: $color-grey-dark;
    min-height: 2rem;
}

.error .helper  {
    color: $color-error;
}


.label_out {
    composes: label;
    transform: translateY(-.4rem) scale(0.7);
}

.label_in {
    composes: label;
    padding: 1.4rem 2rem 1rem 2rem;
}

.radio_group {
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    margin-right: 2rem;
}

.radio_input {
    font-size: 1.5rem;
    display: none;
}

.radio_label {
    font-size: $default-font-size;
    padding-left: 4rem;
}

.radio_imitator {
    width: 3rem;
    height: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: $color-white;
}

.radio_input:checked ~ .radio_label .radio_imitator::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $color-primary;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}