@import "../../share/variables.css";

.header {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url("../../media/hero-small.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
}
